@import java.util._
@import java.text.SimpleDateFormat
@import java.util.Date
@(topic: String, horse : model.db.collections.Horse, trainer : model.db.collections.Trainer)(implicit messages: Messages)
@calendar=@{java.util.Calendar.getInstance()}
@day=@{ val now = java.util.Calendar.getInstance()
	   now.get(Calendar.DAY_OF_MONTH)
	 }
@year=@{  calendar.get(Calendar.YEAR) }
@months=@{ Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")}

@main(topic) {  

	
	
}{
 
			<!-- Page Content -->
			<div class="content">
				<div class="container">
				
					<div class="row">
						<div class="col-12">
						
							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="@routes.Assets.versioned(s"doccure/img/trainers/${trainer.img}")" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html">Trainer: @trainer.Name</a></h4>
											<div class="rating">
											@for(ix <- 1 to trainer.Rating-1) {
												<i class="fas fa-star filled"></i>
												}
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">     </span>
											</div>
											<!-- <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>  -->
										</div>
										<div class="booking-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="@routes.Assets.versioned(s"doccure/img/horses/${horse.ImgUrl}")" alt="User Image">
										</a>
										<div >
											<h4><a href="doctor-profile.html">Horse: @horse.Name</a></h4>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Level: @horse.Level</p>
										</div>
									   </div>
									</div>
									
								</div>
							</div>
						   
						 
							<div class="row">
								<div class="col-12 col-sm-4 col-md-6">
									<h4 class="mb-1">
									<!--  -->
									<script language="javascript">
										 var d = new Date();
										 var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
						 					document.write(months[d.getMonth()] + " " + d.getDate() + " "+ d.getFullYear());
 										</script>
 									</h4>

									<p class="text-muted">  Select an available time (the gray sections) to secure your time.</p>
									<p>Test HourOfDay : @{val now = java.util.Calendar.getInstance()
												val currentHour=now.get(java.util.Calendar.HOUR_OF_DAY)
												currentHour
												}
	<form id="form1" name="form1" method="get" action="/finalbooking?horseid=H001&trainerid=T001">
  <table width="699" border="0">
    <tr>
      <td width="200" valign="top">&nbsp;</td>
      <td width="204" valign="top">&nbsp;</td>
      <td width="281" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><label for="FName">Full Name</label>
        <br />
<input type="text" name="FName" id="FName" required="true" /></td>
      <td valign="top"><label for="Email">Email<br />
      </label>
      <input type="text" name="Email" id="Email" required="true" /></td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">Select the day to book</td>
      <td valign="top"><label for="TimeToSelect">Time for your booking</label></td>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><p>
     
       	       	  	
           @for(incDay <- 0 to 6) {
      	  @{
      	  	 val today={months(calendar.get(Calendar.MONTH)) +"-"+ {day+incDay}.toString() +"-"+ year.toString()}
           <label>
          <input type="radio" name="DayToBook" value="{today}" id="DayToBook_{incDay}" />
          {today}</label>
        <br />
          }
        }
       
          
        
      
      
      </p></td>
      <td valign="top"><select name="TimeToSelect" required="true" id="TimeToSelect">
          <option value="09">09:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
      </select></td>
      <td valign="bottom"><input type="submit" name="SubButton" id="SubButton" value="Submit" /></td>
    </tr>
    <tr>
      <td valign="top"><input name="horseid" type="hidden" id="horseid" value="@{horse.HorseID}" /></td>
      <td valign="top"><input name="trainerid" type="hidden" id="trainerid" value="@{trainer.TrainerID}" /></td>
      <td valign="top">&nbsp;</td>
    </tr>
  </table>
</form>
								</div>
								
                            </div>
							
							
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->

  
}
