@(topic: String, msg: String)(implicit messages: Messages, flash: Flash)

@main(topic) {  

	
	
}{
 
<!-- Page Content -->

			<div class="content success-page-cont">
				<div class="container-fluid">
				
					<div class="row justify-content-center">
						<div class="col-lg-5">
			
			<!-- Success Card -->
							<div class="card success-card">
								<div class="card-body">
									<div class="success-cont">
										@*<i class="fas fa-check"></i>*@
										
										<h3><p>@{msg}</p></h3>
										 <p><button onclick="goBack()">Go Back</button>
										 
																	 
											<script>
										function goBack() {
										  window.history.back();
										}
										</script></p>
													
										</div>
									    </div>	
										</div>
									</div>		
									</div>
								</div>
							
							</div>
							<!-- /Success Card -->	
			<!-- /Page Content -->

			@*<div class="content">
				<div class="container-fluid">
					<h3><p>@{msg}</p></h3>
				  <p><button onclick="goBack()">Go Back</button>

	<script>
function goBack() {
  window.history.back();
}
</script></p>
				</div>
			</div>	*@	
			<!-- /Page Content -->

  
}
