@(topic: String)(implicit messages: Messages)

@main(topic) {  
   <!-- 
 <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">twisdenwood2 head</span>
 </h1>
	-->
	
}{
 
<!-- Popular Section -->
			<section class="section section-doctor" >
				<div class="container-fluid-background">
				   <div class="row">
						<div class="col-lg-4">
							<div class="section-header ">
								<h2>Welcome to twisdenwood2</h2>
								<p>Special Project Site CS612</p>
							</div>
							<div class="about-content">
								<p>We are a premiere full-service Hunter Jumper barn that offers lessons, boarding, leasing, horse showing, summer camp, and much more! </p>
								<br>We offer lessons for all ages beginners through advanced and are conveniently located on Bowlery Drive in Rowley Massachusetts. Contact us today for more info.					
								<a href="/booking">Start Booking.</a>
							</div>
						</div>
						<div class="col-lg-8">
						<div class="section-header ">
								<h2</h2>
							</div>
						<!--
							<div class="doctor-slider slider">
							
								<!-- Doctor Widget -->
								<div class="profile-widget">
								 <div class="doc-img">
										<a href="#">
											<img class="img-fluid" alt="User Image" src="@routes.Assets.versioned("doccure/img/horse_home1.jpg")">
										</a>
										
									</div>
									</div>
								
								<!-- /Doctor Widget -->
						
						
								
							</div>
						  
						</div>
				   </div>
				</div>
			</section>
			
			<!-- /Popular Section -->
  <!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-about-content">
										<p>You can visit us on any of these social networks.</p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget 
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For our Customers</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
								 /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 978-314-8258
										</p>
										
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2020 twisdenwood2. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
      <!-- Slick JS 
		<script src="@routes.Assets.versioned("doccure/js/slick.js")"></script>
     -->
}
