
@(topic: String, myBookings : List[model.db.collections.LessonBooking])(implicit session: Session, messages: Messages, flash: Flash)

@main(topic) {  

	
	
}{
			
			<!-- Page Content -->
			<br>
			<div style= "text-align: center" class="container">
			
			</div>
			
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						
					
						
						<div class="col-md-7 col-lg-8 col-xl-12">
							<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">My Scheduled Lessons</a>
											</li>
											
										</ul>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																
																<tr>
																	<th style =" width: 120px">Trainer</th>
																	<th>Horse</th>
													
																	<th style =" width: 400px">Lesson Date and Time</th>
																	
																
																	
																</tr>
																
															</thead>
															<tbody>
																@for(lesson <- myBookings) {
																<tr>
																	<td>
																		
																		 <input class="form-control" readonly="readonly" value="@lesson.TrainerID"> 
																		</h2>
																	</td>
																	<td><input class="form-control" readonly="readonly" value="@lesson.HorseID"></td>
																	<td><input class="form-control" readonly="readonly" value="@lesson.BookingDate at @lesson.TimeOfDay"></td>
																	
																	
																	
																	<td class="text-right">
																		<div class="table-action">
																			<a href="/deleteLessonSchedule?bookingid=@lesson.BookingID" class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i> Cancel</a>
																			
																		</div>
																	</td>
																</tr>
														}
												
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										</div></div></div>
										<!-- /Appointment Tab -->
}