@(topic: String)(implicit messages: Messages)

@main(topic) {  

	
	
}{
	<!-- Doctor Details Tab -->
					<div class="card">
						<div class="card-body pt-0">
						
						
							 	<div class="container-fluid">
							<!-- Tab Content
							<div class="tab-content pt-0">
							 -->
								<!-- Overview Content -->
								<!--  
								<div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
									<div class="row">
										<div class="col-md-12 col-lg-12">
										-->
											<!-- Horse Showing Details -->
											<div class="widget about-widget">
											
												<p>Twisdenwood II attends many Hunter, Jumper and Equitation horse shows throughout the year, both locally and across New England.   .</p>
											</div>
											<!-- /Showing Details -->
												<p>Check back for more updates to our 2021 show season schedule. <p>
												<!-- Awards Details -->
													 <table style="width:100%">
  														<tr>
														    <th>Date</th>
														    <th>Name</th>
														    <th>City</th>
														  </tr>
														  <tr>
														    <td>7/14/2021 - 7/18/2021 </td>
														    <td>Manchester Summer Fest </td>
														    <td>East Dorset, VT  </td>
														  </tr>
														  <tr>
														    <td>7/21/2021 - 7/25/2021  </td>
														    <td>Hits on the Hudson IV </td>
														    <td>Saugerties, NY   </td>
														  </tr>
														  <tr>
														    <td>8/12/2021 - 8/15/2021   </td>
														    <td>Northampton Hunter and Jumper  </td>
														    <td>Northampton, MA   </td>
														  </tr>
														  <tr>
														    <td>10/1/2021 - 10/3/2021    </td>
														    <td>Mass Horsemen's Council Days Of Champions   </td>
														    <td>Northampton, MA   </td>
														  </tr>
											</table> 
											
							 <!--  	</div>
							  </div>
							</div> 
						</div> -->
       <p></p>


       	<!-- Bootstrap core JavaScript -->
 <!-- jQuery 
		<script src="/assets/doccure/js/jquery.min.js"></script>
		-->
		<!-- Bootstrap Core JS 
		<script src="/assets/doccure/js/popper.min.js"></script>
		<script src="/assets/doccure/js/bootstrap.min.js"></script>
		-->
		<!-- Slick JS 
		<script src="/assets/doccure/js/slick.js"></script>
		-->
		<!-- Custom JS 
		<script src="/assets/doccure/js/script.js"></script>
        -->
    </body>
</html>

}