@(topic: String)(implicit messages: Messages)

@main(topic) {  

	
	
}{

					
							
						<div class="container-fluid">						
			
			<!-- Page Content -->
			
			
			
			<div class="content">
				<div class="container">
				
					<div class="row">
						<div class="col-lg-12 col-md-14">
							<div class="blog-view">
								<div class="blog blog-single-post">
									<div class="blog-content">
									    <p>Twisdenwood attends many shows throughout the show season, both locally and across New England.</p>  
										<p>Check back for more updates to our 2021 show season schedule. <p>
												<!-- Awards Details -->
													 <table style="width:80%">
  														<tr>
														    <th>Date</th>
														    <th>Name</th>
														    <th>City</th>
														  </tr>
														  <tr>
														    <td>7/14/2021 - 7/18/2021 </td>
														    <td>Manchester Summer Fest </td>
														    <td>East Dorset, VT  </td>
														  </tr>
														  <tr>
														    <td>7/21/2021 - 7/25/2021  </td>
														    <td>Hits on the Hudson IV </td>
														    <td>Saugerties, NY   </td>
														  </tr>
														  <tr>
														    <td>8/12/2021 - 8/15/2021   </td>
														    <td>Northampton Hunter and Jumper  </td>
														    <td>Northampton, MA   </td>
														  </tr>
														  <tr>
														    <td>10/1/2021 - 10/3/2021    </td>
														    <td>Mass Horsemen's Council Days Of Champions   </td>
														    <td>Northampton, MA   </td>
														  </tr>
											</table>

									</div>
								</div>
						
							</div>
						</div>
								</li>
							</ul>
						</div>
					</div>
							</div>
						
					</div>
														
}