@(topic: String)(implicit messages: Messages, flash: Flash, session: Session)

@main(topic) {  

	
	
}{
					
						<div class="container-fluid">						
			
			<!-- Page Content -->
			<!-- Recent Orders -->
			<br></br>
			
			<p>Twisdenwood attends many shows throughout the show season, both locally and across New England.</p>  
			<p>Check back for more updates to our 2021 show season schedule. <p>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Show Name</th>
													<th>City</th>
													@*<th>Quantity</th>
													<th>Supplier</th>
													<th>Action</th>*@
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>7-14-2021</td>
													<td>
														<h2 class="table-avatar">
															@*<span class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/product/product.jpg" alt="product image"></span>*@
															7-18-2021
														</h2>
													</td>
													<td>Manchester Summer Fest</td>
													<td>East Dorset, VT </td>
													@*<td>60</td>
													<td>Bradley</td>
													<td>
														<div class="actions">
															<a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#deleteConfirmModal">
																<i class="fe fe-trash"></i> Delete
															</a>
														</div>
													</td>
												</tr>*@
												<tr>
													<td>7-21-2021</td>
													<td>
														<h2 class="table-avatar">
															@*<span class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/product/product.jpg" alt="product image"></span>*@
															7-25-2021
														</h2>
													</td>
													<td>Hits on the Hudson IV‎</td>
													<td>Saugerties, NY</td>
													@*<td>20</td>
													<td>Douglas</td>
													<td>
														<div class="actions">
															<a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#deleteConfirmModal">
																<i class="fe fe-trash"></i> Delete
															</a>
														</div>
													*@</td>
												</tr>
												<tr>
													<td>8-12-2021</td>
													<td>
														<h2 class="table-avatar">
															
															8-15-2021
														</h2>
													</td>
													<td>Northampton Hunter and Jumper‎</td>
													<td>Northampton, MA</td>
													
												</tr>
												<tr>
													<td>10-1-2021</td>
													<td>
														<h2 class="table-avatar">
															
															10-3-2021
														</h2>
													</td>
													<td>Mass Horsemen's Council Days of Champions</td>
													<td>Northampton, MA</td>
													
												</tr>
												<tr>
													
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
			
							</div>
						
					</div>
														
}